In [1]:
a=10
type(a)

int

In [2]:
print(id(a))

1609947520

In [3]:
a=10
b=20.098
c='gitam'
d=2+4j
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 20.098 gitam (2+4j)
<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

In [4]:
print(id(a),id(b),id(c),id(d))

1609947520 56207344 56397632 56262000

# number types
## integer
## float
## complex
## boolean
## all numbers are immutable,values are not
## modified,if they modified new reference is
## pointing to modified value

In [5]:
a=10
print(id(a))
a=100
print(id(a))

1609947520
1609948960

In [8]:
a=2+5j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate())
c=complex(3,4)
print(c)

(2+5j)
2.0
5.0
(2-5j)
(3+4j)

In [9]:
c=3+9j
d=5+7j
print(c+d)
print(c-d)
print(c*d)
print(c/d)

(8+16j)
(-2+2j)
(-48+66j)
(1.054054054054054+0.32432432432432434j)

In [10]:
str='ravi'
str1="kishore"
print(str)
print(str1)
print(type(str),type(str1))
print(len(str),len(str1))

ravi
kishore
<class 'str'> <class 'str'>
4 7

# type conversions
## int()
## float()
## complex()
## list()
## tuple()
## set()
## dict()
## bool()
## str()

# input()
## it is used to give the input to the program
## and its type is string and by

In [14]:
a=input("enter number")
print(type(a))
b=int(a)
print(type(b))
print("number is",b)

enter number001
<class 'str'>
<class 'int'>
number is 1

In [15]:
# comment in python
'''
document string
'''

'\ndocument string\n'

In [32]:
a="4004"
print(type(a))
print(len(a))
c=int(a)
print(c)

<class 'str'>
4
4004

# relational operators
## <,>,<=,>=,==,!=

In [37]:
x=20
y=15
print(x<15)
print(x==y)
print(x!=y)
print(int(x>y))

False
False
True
1

# logical operators
## and or not

In [39]:
x=19
print(x>=19 and x<=25)
print(x>=19 or x<=25)
print(not(x))

True
True
False

# membership operators
## in,not in

In [40]:
str="ravi"
print("i"in str)
print("k"in str)

True
False

# identity operators
## is,is not

In [42]:
a=50
b=50
print(a is b)
print(a is not b)

True
False

# bitwise:(works with 0 and 1)
## &,|,<<,>>,^,~

# special operators
## + and , are used for concatenation
## * repatation oper
## [start:stop:step] slice oper
## range(start,stop,step)
## indentation:
## it represents block or{ } in c lang

In [45]:
a=100
print("the value of a is",a)
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="gitam"
print(d*3)
print(d[1:3:2])
print(list(range(1,10,3)))

the value of a is 100
[1, 2, 3, 4, 5, 6]
gitamgitamgitam
i
[1, 4, 7]

## control stmt
## 1) if stmt
   ### if(condition):
            statement1
            statement2

In [52]:
a=int(input("enter number"))
if(a>5):
    print("it is +ve no")
if(a<20):   
    print("it is -ve no")
if(a==0):   
    print("it is zero")

enter number0
it is -ve no
it is zero

In [51]:
0

0

# 2) if-else stmt
  ### if(conition):
          stmt1
          stmt2
  ### else:
          stmt1
          stmt2

In [54]:
n=int(input("enter number"))
if(n%2==0):
    print(n,"is even")
else:
    print(n,"is odd")

enter number20
20 is even

In [56]:
y=int(input("enter year"))
if((y%100!=0 and y%4==0) or y%400==0):
    print(y,"is leap")
else:
    print(y,"not leap")

enter year2019
2019 not leap

# 3) elseif stmt
  ### if(conition):
          stmt1
          stmt2
  ### elif(conition):
          stmt3
          stmt4
  ### else:
          stmt5
          stmt6

In [57]:

a,b,c=10,20,30
if(a>b and a>c):
    print(a,"is big")
elif(b>c):
    print(b,"is big")
else:
    print(c,"is big")

30 is big

In [58]:
a=30
b=46
ch=int(input("enter choice"))
if(ch==1):
    print("addition is",a+b)
elif(ch==2):
    print("sub is",a-b)
elif(ch==3):
    print("mul is",a*b)
elif(ch==4):
    print("div is",a/b)
else:
    print("choose from[1-4] only")

enter choice3
mul is 1380